<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Victorya, easy and simple, in memory forever.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <!--  CSS stylesheets-->
    <link rel="stylesheet" type="text/css" media="all" href="styles/victorya.css">
    <!-- Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,300" type="text/css">
    <!--  icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <style></style>
</html>