
<section class="section">
  <h2 class="text-md text-center">Aligners</h2>
  <div>
    <h3 class="text-sm text-gray text-center">Space between</h3>
    <div class="container background-gray">
      <div class="section">
        <div class="aligner-space-between">
          <div><img src="images/1.jpg" alt="Image 4" width="150"/></div>
          <div><img src="images/2.jpg" alt="Image 5" width="150"/></div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="text-sm text-gray text-center">Space around</h3>
  <div class="container background-gray">
    <div class="section">
      <div class="aligner-space-around">
        <div><img src="images/1.jpg" alt="Image 6" width="150"/></div>
        <div><img src="images/2.jpg" alt="Image 5" width="150"/></div>
        <div><img src="images/1.jpg" alt="Image 1" width="150"/></div>
        <div><img src="images/2.jpg" alt="Image 2" width="150"/></div>
      </div>
    </div>
  </div>
  <div class="section row">
    <div class="col-xs-12 col-md-6">
      <h3 class="text-sm text-gray text-center">Align start</h3>
      <div class="container background-gray">
        <div class="section">
          <div class="content-start">
            <div><img src="images/1.jpg" alt="Image 1" width="150"/></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <h3 class="text-sm text-gray text-center">Align end</h3>
      <div class="container background-gray">
        <div class="section">
          <div class="content-end">
            <div><img src="images/3.jpg" alt="Image 3" width="150"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h3 class="text-sm text-gray text-center">Center vertical</h3>
      <div class="container background-gray">
        <div class="section">
          <div class="aligner-center-vertical" style="height:150px;">
            <p class="text-dark no-margin text-md">Lorem ipsum dolor sit amet</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3 class="text-sm text-gray text-center">Center vertical and horitzontal</h3>
      <div class="container background-gray">
        <div class="section">
          <div class="aligner-center-horitzontal aligner-center-vertical" style="height:150px;">
            <p class="text-dark no-margin text-md">Lorem ipsum dolor sit amet</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3 class="text-sm text-gray text-center">Align to bottom</h3>
      <div class="container background-gray">
        <div class="section">
          <div class="aligner" style="height:150px;">
            <p class="text-dark no-margin aligner-item-bottom text-md">Lorem ipsum dolor sit amet</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <h2 class="text-md text-center">Low opacity</h2>
  <div class="container background-gray opacity-low">
    <div class="section">
      <div class="aligner-center-horitzontal aligner-center-vertical" style="height:150px;"><img src="images/1.jpg" alt="Image 1" width="150"/></div>
    </div>
  </div>
</section>
<div class="section">
  <div class="aligner-center-horitzontal aligner-center-vertical" style="height:40px;">
    <div class="container section border-top border-bottom" style="margin-top: 40px;"><a class="text-md" data-tooltip="Go to start the page" data-position="bottom" href="#top">Back to top</a></div>
  </div>
</div>